body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: #000;
  color: white;
  padding: 10px;
  text-align: center;
}

nav button {
  margin: 5px;
  padding: 10px;
  border: none;
  background: #ffcc00;
  font-weight: bold;
  border-radius: 5px;
}

section {
  padding: 15px;
}

.oculto {
  display: none;
}

#listaProductos div {
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

input {
  display: block;
  width: 95%;
  padding: 8px;
  margin: 5px 0;
}
